html
  head
    title Joel-Andres
    body
      h1 Joel-Andres
      h2 Tweet Count
      p= tweets1
      p= tweets2
      h2 Follower Count
      p= followers1
      p= followers2
      img(src=image1)
      img(src=image2)
      form(action='/myaction', method='post')
        input(id='player_1' name='player_1')
        input(id='player_2' name='player_2')    
        input(type='submit', value='FIGHT')

